 a  {
  color:green;
   front-size:200px;
   }
   
 div {
	color:##143D70; 
	 
	}
	
	b {
		color:#A943C7;
	}	
 

   .video:hover  {
	   color:#401EFF;
       background-color:#69FF23;
       border: 1px solid #5623FF
       font-size:20px;
   }
   

   
